@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

header {
  color: #fff;
  background-color: #718093;
  padding: 0px 40px 60px 40px;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
}

header nav img {
  width: 100px;
}

header nav ul {
  display: flex;
  list-style-type: none;
  gap: 2em;
  align-items: center;
}

header nav button {
  padding: 8px 20px;
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
}

.head-content {
  padding: 20px 80px 0 80px;
  display: flex;
  align-items: center;
  gap: 8em;
}

.head-content .left {
  width: 450px;
  height: 500px;
}

.head-content .left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.head-content .right {
  width: 80%;
}

.head-content .right h1 {
  font-size: 4em;
  margin-bottom: 5px;
}

header .input {
  background-color: #fff;
  padding: 5px;
  padding-left: 15px;
  display: inline-block;
  color: black;
  margin-top: 20px;
}

header .input span {
  color: #718093;
  margin-left: 10px;
}

button.green {
  cursor: pointer;
  padding: 10px 25px;
  border: 0;
  background-color: #1C8D73;
  color: #fff;
  font-size: 1.1rem;
}

header .input button.green {
  margin-left: 50px;
}

section.hero h1 {
  font-size: 3rem;
  text-align: center;
}

section.hero .numbers {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 10px 40px 40px 60px;
  text-align: center;
}

section.hero img {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}


section.info h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

section.info>h1 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 60px;
}

section.info .info-card {
  display: flex;
  justify-content: center;
  gap: 5em;
  align-items: center;
  height: 500px;
}

section.info .info-card .right,
section.info .info-card .left {
  width: 600px;
  align-self: center;
}

section.info .info-card p {
  padding-right: 40px;
  margin-bottom: 30px;
}

section.info .info-card img {
  width: 500px;
  height: 400px;
  object-fit: cover;
  object-position: 40% 0%;
}

section.team {
  padding: 40px;
}

section.team h1 {
  font-size: 2.1rem;
  padding-left: 60px;
  float: left;
  margin: 0;
  margin-right: 150px;
}

section.team p {
  width: 90%;
}

section.team .team-cards {
  margin: 40px 100px 10px 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

section.team .team-card {
  width: 350px;
  height: 650px;
}

section.team .team-card img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

section.team button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

footer {
  margin-top: 40px;
  padding: 40px;
  color: #fff;
  background-color: #242B2E;
}

footer * {
  margin: 0;
}

footer .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .top>img {
  width: 120px;
}

footer .top .socials span {
  cursor: pointer;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  padding: 5px;
  border-radius: 50%;
  background-color: #718093;
  text-align: center;
}

footer .rule {
  margin: 20px;
  height: 1px;
  background-color: #fff;
  width: 100%;
}

footer .bottom {
  padding: 30px;
  display: flex;
  justify-content: space-between;
}

footer .bottom h5 {
  font-size: 1.1rem;
  margin-bottom: 10px;
}

footer .bottom p {
  margin-bottom: 5px;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  header nav ul {
    gap: 1em;
  }

  .head-content .left {
    display: none;
  }

  section.hero h1 {
    font-size: 1.5rem;
    text-align: center;
  }

  section.info .info-card .right,
  section.info .info-card .left {
    width: 40%;
    align-self: center;
  }

  section.info .info-card {
    padding: 20px;
    gap: 2em;
    height: 350px;
  }

  section.info .info-card img {
    width: 100%;
    height: 200px;
  }

  section.info>h1 {
    font-size: 2rem;
  }

  section.info h1 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  button.green {
    padding: 8px 20px;
    font-size: 1rem;
  }

  section.team h1 {
    font-size: 1.5rem;
    text-align: center;
    float: none;
    margin-right: 0px;
  }

  section.team p {
    width: 100%;
  }

  section.team .team-cards {
    margin: 40px 100px 10px 100px;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }

  section.hero img {
    width: 100%;
  }

  section.team .team-card {
    width: 300px;
    height: 450px;
  }

  section.team .team-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: 0% 10%;
  }
}

@media screen and (max-width: 760px) {
  header nav ul {
    display: none;
  }

  .head-content .right {
    width: 100%;
  }

  .head-content .right h1 {
    font-size: 2em;
    margin-bottom: 5px;
  }

  section.info .info-card img {
    display: none;
  }

  section.info .info-card .right,
  section.info .info-card .left {
    width: 100%;
    align-self: center;
  }

  section.info .info-card {
    display: block;
    height: 230px;
  }

  .team-card {
    margin-left: -50px;
  }

  footer .bottom {
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
  }

  header .input {
    position: relative;
    display: block;
    margin: auto;
  }

  header .input button {
    position: absolute;
    bottom: -40px;
    display: block;
    left: 25%;
  }

  header .input span {
    padding-right: 10px;
  }


  .head-content {
    padding: 20px 20px 0 20px;
    display: flex;
    align-items: center;
    gap: 8em;
  }
}